@font-face {
    font-family: 'Hanky Bold';
    src: url('../fonts/HankyBold/Hanky-Bold-ff.otf');
}

.name-text {
    -fx-font-family: 'Hanky Bold';
    -fx-text-fill: black;
    -fx-font-size: 35px;
}

.count-stars {
    -fx-font-family: 'Hanky Bold';
    -fx-text-fill: #543324;
    -fx-font-size: 35px;
}

.transparent-pane {
    -fx-background-color: transparent;
}

