@font-face {
    font-family: 'Hanky Bold';
    src: url('../fonts/HankyBold/Hanky-Bold-ff.otf');
}

.name-text {
    -fx-font-family: 'Hanky Bold';
    -fx-text-fill: black;
    -fx-font-size: 35px;
}

.button-enter {
    -fx-background-color: transparent;
    -fx-font-family: 'Hanky Bold';
    -fx-font-size: 30px;
    -fx-fill: black;
}

.question-text {
    -fx-font-family: 'Hanky Bold';
    -fx-text-fill: black;
    -fx-font-size: 20px;
}

.error-text {
    -fx-font-family: 'Hanky Bold';
    -fx-text-fill: red;
    -fx-font-size: 20px;
}

.text-input {
    -fx-font-family: 'Hanky Bold';
    -fx-background-color: transparent;
    -fx-font-size: 30px;
}

.text-field {
     -fx-font-family: 'Hanky Bold';
     -fx-background-color: transparent;
     -fx-font-size: 30px;
    -fx-prompt-text-fill: gray;
}

.text-field .text {
    -fx-font-family: 'Hanky Bold';
    -fx-background-color: transparent;
    -fx-font-size: 30px;
    -fx-fill: black;
}

.transparent-pane {
    -fx-background-color: transparent;
}

.image-view-button-enter {
    -fx-image: url('../image/login/buttom-enter.png');
}

.button-enter:hover .image-view-button-enter {
    -fx-image: url('../image/login/buttom-enter-hover.png');
}

.button-enter:pressed .image-view-button-enter {
    -fx-image: url('../image/login/buttom-enter-pas.png');
}

.image-view-button-register {
    -fx-image: url('../image/login/buttom-regis.png');
}

.button-enter:hover .image-view-button-register {
    -fx-image: url('../image/login/buttom-regis-hover.png');
}

.button-enter:pressed .image-view-button-register {
    -fx-image: url('../image/login/buttom-regis-pre.png');
}

.button-enter:pressed .text {
    -fx-translate-y: 3px;
}

