@font-face {
    font-family: 'Hanky Bold';
    src: url('../fonts/HankyBold/Hanky-Bold-ff.otf');
}

// кнопки
.close-butten {
    -fx-background-color: transparent;
    -fx-padding: -5;
}

// кнопки
.enter-butten {
    -fx-font-family: 'Hanky Bold';
    -fx-text-fill: black;
    -fx-font-size: 30px;
    -fx-background-color: transparent;
    -fx-padding: -5;
}

// название окна
.name-text {
    -fx-font-family: 'Hanky Bold';
    -fx-text-fill: black;
    -fx-font-size: 35px;
}

.text-field {
     -fx-font-family: 'Hanky Bold';
     -fx-background-color: transparent;
     -fx-font-size: 30px;
    -fx-prompt-text-fill: gray;
    -fx-padding: -5;
}

.text-field .text {
    -fx-font-family: 'Hanky Bold';
    -fx-background-color: transparent;
    -fx-font-size: 30px;
    -fx-fill: black;
    -fx-padding: -5;
}

.transparent-pane {
    -fx-background-color: transparent;
}
