@font-face {
    font-family: 'Hanky Bold';
    src: url('../fonts/HankyBold/Hanky-Bold-ff.otf');
}

// название окна
.name-text {
    -fx-font-family: 'Hanky Bold';
    -fx-text-fill: black;
    -fx-font-size: 35px;
}

.text-field {
    -fx-font-family: 'Hanky Bold';
    -fx-background-color: transparent;
    -fx-font-size: 30px;
    -fx-prompt-text-fill: gray;
    -fx-padding: 0;  /* ИЗМЕНИТЕ: уберите -5 или поставьте 0 */
}

.text-field .text {
    -fx-font-family: 'Hanky Bold';
    -fx-font-size: 30px;
    -fx-fill: black;
    -fx-padding: 0;  /* ИЗМЕНИТЕ: уберите -5 или поставьте 0 */
}

.transparent-pane {
    -fx-background-color: transparent;
}

.error-text {
    -fx-font-family: 'Hanky Bold';
    -fx-text-fill: red;
    -fx-font-size: 20px;
}

.enter-butten {
    -fx-font-family: 'Hanky Bold';
    -fx-text-fill: black;
    -fx-font-size: 30px;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.image-view-button-enter {
    -fx-image: url('../image/registration_list_2/buttom-enter.png');
}

.enter-butten:hover .image-view-button-enter {
    -fx-image: url('../image/registration_list_2/buttom-enter-hover.png');
}

.enter-butten:pressed .image-view-button-enter {
    -fx-image: url('../image/registration_list_2/buttom-enter-pre.png');
}

.enter-butten:pressed .text {
    -fx-translate-y: 3px;
}

