@font-face {
    font-family: 'Hanky Bold';
    src: url('../fonts/HankyBold/Hanky-Bold-ff.otf');
}

// кнопки
.enter-butten {
    -fx-font-family: 'Hanky Bold';
    -fx-text-fill: black;
    -fx-font-size: 30px;
    -fx-background-color: transparent;
    -fx-padding: 0;  /* Измените с -5 на 0 или уберите */
}

// название окна
.name-text {
    -fx-font-family: 'Hanky Bold';
    -fx-text-fill: black;
    -fx-font-size: 35px;
}

.text-field {
    -fx-font-family: 'Hanky Bold';
    -fx-background-color: transparent;
    -fx-font-size: 30px;
    -fx-prompt-text-fill: gray;
    -fx-padding: 0;  /* ИЗМЕНИТЕ: уберите -5 или поставьте 0 */
}

.text-field .text {
    -fx-font-family: 'Hanky Bold';
    -fx-font-size: 30px;
    -fx-fill: black;
    -fx-padding: 0;  /* ИЗМЕНИТЕ: уберите -5 или поставьте 0 */
}

.transparent-pane {
    -fx-background-color: transparent;
}