@font-face {
    font-family: 'Hanky Bold';
    src: url('../fonts/HankyBold/Hanky-Bold-ff.otf');
}

// название окна
.name-text {
    -fx-font-family: 'Hanky Bold';
    -fx-text-fill: black;
    -fx-font-size: 35px;
}

// описание
.scores-text {
    -fx-font-family: 'Hanky Bold';
    -fx-text-fill: black;
    -fx-font-size: 18,5px;
}

// основная панель
.transparent-pane {
    -fx-background-color: transparent;
}
