@font-face {
    font-family: 'Hanky Bold';
    src: url('../fonts/HankyBold/Hanky-Bold-ff.otf');
}

// кнопки
.enter-butten {
    -fx-font-family: 'Hanky Bold';
    -fx-text-fill: black;
    -fx-font-size: 30px;
    -fx-background-color: transparent;
    -fx-padding: -5;
}

.transparent-pane {
    -fx-background-color: transparent;
}

// название окна
.name-text {
    -fx-font-family: 'Hanky Bold';
    -fx-text-fill: black;
    -fx-font-size: 35px;
}

// описание
.task-text {
    -fx-font-family: 'Hanky Bold';
    -fx-text-fill: black;
    -fx-font-size: 24px;
}

// количество звезд
.count-stars {
    -fx-font-family: 'Hanky Bold';
    -fx-text-fill: #543324;
    -fx-font-size: 25px;
}

// кнопки
.back-butten {
    -fx-background-color: transparent;
    -fx-padding: -5;
}

.next-butten {
    -fx-font-family: 'Hanky Bold';
    -fx-text-fill: black;
    -fx-font-size: 25px;
    -fx-background-color: transparent;
    -fx-padding: -5;
}

.next-butten .text {
    -fx-translate-y: -3px;
}

.image-view-button-next {
    -fx-image: url('../image/checker/buttom-enter.png');
}

.next-butten:hover .image-view-button-next {
    -fx-image: url('../image/checker/buttom-enter-hover.png');
}

.next-butten:pressed .image-view-button-next {
    -fx-image: url('../image/checker/buttom-enter-pre.png');
}

.next-butten:pressed .text {
    -fx-translate-y: 0px;
}
